.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    color: white;
    text-align: center;
}
body{
    background-color: lightblue;
    text-align: center;
}
.disney{
    width: 500px;
    height: 250px;
}
title{
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
}