.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    color: white;
    text-align: center;
}
body{
    background-color: lightblue;
    text-align: center;
    font-style: Arial;
    font-size: 14px;
}
.disney{
    width: 500px;
    height: 250px;
    border-style: solid;
}
title{
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px black ;
}
h1{
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}
.extra-text{
    text-align:center;
    font-family: Arial;
    font-size: 22px;
}
.pepsi{
    height: 100px;
    width: 100px;
    border-style: solid;
}